* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

h1, h3, p, h5 {
    text-align: center;
}


  #div1 {
    position: relative;
    height: 100%;
  }
  
  #card1 {
    position: absolute;
    top: 30%;
    width: 100%;
    height: 100%;
    text-align: center;
    color:white;
  }

  #div2 {
    position: relative;
    height: 100%;
  }
  
  #card2 {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 100%;
    text-align: center;
    color:white;
  }

  #div3 {
    position: relative;
    height: 100%;
  }
  
  #card3 {
    position: absolute;
    top: 5%;
    width: 100%;
    height: 100%;
    text-align: center;
    color:white;
  }

  input,textarea  {
    background: transparent;
    border: solid;
    border-width:0.1ch;
    border-color: white;
    color: white!Important;
   font-weight:bolder;
   opacity:1;

}